/* screen - android-23 */

.android-23 {
  background-color: transparent;
  height: 640px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: ;
  width: 360px;
}

#overlay-android-23 {
  background-color: transparent;
}

.overlay .android-23 {
  background-color: #00000000;
}

.android-23 .android-23-n1RAAh {
  background-color: transparent;
  height: 640px;
  left: calc(50vw - 180.0px);
  mix-blend-mode: normal;
  position: fixed;
  top: calc(50vh - 320.0px);
  width: 360px;
}

.android-23 .rectangle-251-x9djq0 {
  background-color: var(--blue-violet);
  box-shadow: 3px 4px 12px #5d4dc4;
  height: 640px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 296px;
}

.android-23 .group-6820-x9djq0 {
  background-color: transparent;
  height: 227px;
  left: 41px;
  position: absolute;
  top: 127px;
  width: 217px;
}

.android-23 .text-search-field-tZPPMB {
  background-color: transparent;
  height: 36px;
  left: 7px;
  position: absolute;
  top: 191px;
  width: 202px;
}

.android-23 .search-icon-fON3h4 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: relative;
  top: 8px;
  width: 204px;
}

.android-23 .contact-us-7Ev80C {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: 0.90px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 202px;
}

.android-23 .text-search-field-OvdjBP {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 46px;
  position: absolute;
  top: 143px;
  width: 125px;
}

.android-23 .search-icon-k70dxp {
  background-color: transparent;
  height: 20px;
  left: 1px;
  position: relative;
  top: 8px;
  width: 125px;
}

.android-23 .news-qw80nJ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: 0.90px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 123px;
}

.android-23 .text-search-field-xxXYVj {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 42px;
  position: absolute;
  top: 96px;
  width: 132px;
}

.android-23 .search-icon-uoHTol {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: relative;
  top: 8px;
  width: 133px;
}

.android-23 .about-eXPkvP {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: 0.90px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 131px;
}

.android-23 .text-search-field-jqUvlC {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 217px;
}

.android-23 .search-icon-XVDTZV {
  background-color: transparent;
  height: 20px;
  left: -0px;
  position: relative;
  top: 8px;
  width: 219px;
}

.android-23 .programmes-7woXRB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: 0.90px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 217px;
}

.android-23 .text-search-field-xhvJXA {
  background-color: transparent;
  height: 36px;
  left: 26px;
  position: absolute;
  top: 48px;
  width: 163px;
}

.android-23 .search-icon-X9yJRa {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: relative;
  top: 8px;
  width: 165px;
}

.android-23 .projects-ROi3uY {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: 0.90px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 163px;
}

.android-23 .group-6810-x9djq0 {
  background-color: transparent;
  cursor: pointer;
  height: 30px;
  left: 110px;
  position: absolute;
  top: 19px;
  width: 82px;
}

.android-23 .frame-e8g1qL {
  background-color: transparent;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 82px;
}

.android-23 .vector-npAjuV {
  background-color: transparent;
  height: 1px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-23 .vector-38-x9djq0 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-23 .group-6826-x9djq0 {
  background-color: transparent;
  height: 123px;
  left: 1px;
  position: absolute;
  top: 415px;
  width: 296px;
}

.android-23 .group-6822-pHPTi2 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 300px;
}

.android-23 .twitter-facebook-5CrPIC {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.48px;
  line-height: 57.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 148px;
}

.android-23 .linked-in-instagram-5CrPIC {
  background-color: transparent;
  height: auto;
  left: 148px;
  letter-spacing: 0.48px;
  line-height: 57.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 148px;
}

.android-23 .vector-35-pHPTi2 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-23 .vector-39-pHPTi2 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-23 .vector-36-pHPTi2 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-23 .vector-37-pHPTi2 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-23 .text-search-field-x9djq0 {
  background-color: transparent;
  height: 47px;
  left: 29px;
  position: absolute;
  top: 567px;
  width: 240px;
}

.android-23 .rectangle-65-YnherK {
  background-color: #b6b0e41f;
  border-radius: 8px;
  height: 47px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 201px;
}

.android-23 .search-icon-YnherK {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 15px;
  width: 242px;
}

.android-23 .newsletter-sign-up-r9JisM {
  background-color: transparent;
  height: 18px;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 240px;
}

.android-23 .nav-x9djq0 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 296px;
  position: absolute;
  top: -0px;
  width: 64px;
}

.android-23 .group-6808-uWTM4Q {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 64px;
}

.android-23 .rectangle-236-BWYN7h {
  background-color: var(--ema-violet);
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 64px;
}

.android-23 .group-6806-BWYN7h {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}

.android-23 .rectangle-235-cDWtWI {
  background-color: var(--dull-lavender-2);
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 64px;
}

.android-23 .vector-35-BWYN7h {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-23 .vector-37-BWYN7h {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-23 .vector-38-BWYN7h {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-23 .vector-36-BWYN7h {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
