/* screen - android-24 */

.android-24 {
  background-color: transparent;
  height: 640px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 360px;
}

#overlay-android-24 {
  background-color: transparent;
}

.overlay .android-24 {
  background-color: #00000000;
}

.android-24 .android-24-N2zzNT {
  background-color: transparent;
  height: 640px;
  left: calc(50vw - 180.0px);
  mix-blend-mode: normal;
  position: fixed;
  top: calc(50vh - 320.0px);
  width: 360px;
}

.android-24 .rectangle-251-42zD6X {
  background-color: var(--blue-violet);
  box-shadow: 3px 4px 12px #5d4dc4;
  height: 640px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 296px;
}

.android-24 .group-6820-42zD6X {
  background-color: transparent;
  height: 227px;
  left: 41px;
  position: absolute;
  top: 127px;
  width: 217px;
}

.android-24 .text-search-field-UDInwr {
  background-color: transparent;
  height: 36px;
  left: 7px;
  position: absolute;
  top: 191px;
  width: 202px;
}

.android-24 .search-icon-f2ag6h {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: relative;
  top: 8px;
  width: 204px;
}

.android-24 .contact-us-jFbJnQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: 0.90px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 202px;
}

.android-24 .text-search-field-24dPdr {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 46px;
  position: absolute;
  top: 143px;
  width: 125px;
}

.android-24 .search-icon-oyscET {
  background-color: transparent;
  height: 20px;
  left: 1px;
  position: relative;
  top: 8px;
  width: 125px;
}

.android-24 .news-ssNvth {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: 0.90px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 123px;
}

.android-24 .text-search-field-4td8BO {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 42px;
  position: absolute;
  top: 96px;
  width: 132px;
}

.android-24 .search-icon-bbamua {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: relative;
  top: 8px;
  width: 133px;
}

.android-24 .about-C1G4na {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: 0.90px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 131px;
}

.android-24 .text-search-field-rjmAv2 {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 217px;
}

.android-24 .search-icon-i8FyuW {
  background-color: transparent;
  height: 20px;
  left: -0px;
  position: relative;
  top: 8px;
  width: 219px;
}

.android-24 .programmes-gTI0vF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: 0.90px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 217px;
}

.android-24 .text-search-field-VVp1NZ {
  background-color: transparent;
  height: 36px;
  left: 26px;
  position: absolute;
  top: 48px;
  width: 163px;
}

.android-24 .search-icon-nxQIvh {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: relative;
  top: 8px;
  width: 165px;
}

.android-24 .projects-x3Qaqy {
  background-color: transparent;
  height: 20px;
  left: 0px;
  letter-spacing: 0.90px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 163px;
}

.android-24 .text-search-field-42zD6X {
  background-color: transparent;
  height: 38px;
  left: 84px;
  position: absolute;
  top: 174px;
  width: 131px;
}

.android-24 .rectangle-65-cpAJU7 {
  background-color: transparent;
  border: 1px solid var(--lines);
  border-radius: 8px;
  height: 38px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 131px;
}

.android-24 .group-6810-42zD6X {
  background-color: transparent;
  cursor: pointer;
  height: 30px;
  left: 110px;
  position: absolute;
  top: 19px;
  width: 82px;
}

.android-24 .frame-xAukN8 {
  background-color: transparent;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 82px;
}

.android-24 .vector-IOLVMJ {
  background-color: transparent;
  height: 1px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-24 .vector-38-42zD6X {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-24 .group-6826-42zD6X {
  background-color: transparent;
  height: 123px;
  left: 1px;
  position: absolute;
  top: 415px;
  width: 296px;
}

.android-24 .group-6822-qCKawb {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 300px;
}

.android-24 .twitter-facebook-xRVjCS {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.48px;
  line-height: 57.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 148px;
}

.android-24 .linked-in-instagram-xRVjCS {
  background-color: transparent;
  height: auto;
  left: 148px;
  letter-spacing: 0.48px;
  line-height: 57.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 148px;
}

.android-24 .vector-35-qCKawb {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-24 .vector-39-qCKawb {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-24 .vector-36-qCKawb {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-24 .vector-37-qCKawb {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-24 .text-search-field-iJ3q2U {
  background-color: transparent;
  height: 47px;
  left: 29px;
  position: absolute;
  top: 567px;
  width: 240px;
}

.android-24 .rectangle-65-xDzlc7 {
  background-color: #b6b0e41f;
  border-radius: 8px;
  height: 47px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 201px;
}

.android-24 .search-icon-xDzlc7 {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 15px;
  width: 242px;
}

.android-24 .newsletter-sign-up-61PM0B {
  background-color: transparent;
  height: 18px;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 240px;
}

.android-24 .nav-42zD6X {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 296px;
  position: absolute;
  top: -0px;
  width: 64px;
}

.android-24 .group-6808-fWKmr2 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 64px;
}

.android-24 .rectangle-236-UxonVG {
  background-color: var(--ema-violet);
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 64px;
}

.android-24 .group-6806-UxonVG {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}

.android-24 .rectangle-235-DqLLNx {
  background-color: var(--dull-lavender-2);
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 64px;
}

.android-24 .vector-35-UxonVG {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-24 .vector-37-UxonVG {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-24 .vector-38-UxonVG {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.android-24 .vector-36-UxonVG {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1px;
}
