/* screen - android-21 */

.android-21 {
  background-color: var(--ema-violet);
  height: 100vh;
  margin: 0px;
  min-height: 640px;
  min-width: 360px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.android-21 .rectangle-262-CLixCp {
  background-color: var(--ema-violet);
  height: 640px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.android-21 .rectangle-261-CLixCp {
  background-color: var(--ema-white);
  border-radius: 12px;
  height: 219px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 85px;
  width: 328px;
}

.android-21 .group-6813-CLixCp {
  background-color: transparent;
  height: 0px;
  left: 19px;
  position: absolute;
  top: 641px;
  width: 323px;
}

.android-21 .group-6813-YipZUB {
  background-color: transparent;
  height: 0px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.android-21 .vector-25-VTZZFK {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.android-21 .university-of-zambia-CLixCp {
  background-color: transparent;
  color: var(--ema-white);
  font-family: var(--font-family-gellix-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 18px;
  letter-spacing: 0.48px;
  line-height: 21.3px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 325px;
  width: 324px;
}

.android-21 .text-search-field-CLixCp {
  background-color: transparent;
  height: 47px;
  left: 73px;
  position: absolute;
  top: 567px;
  width: 201px;
}

.android-21 .rectangle-65-xXNUQE {
  background-color: var(--shamrock);
  border-radius: 8px;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 201px;
}

.android-21 .search-icon-xXNUQE {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 88px);
  position: absolute;
  top: calc(50.00% - 9px);
  width: 178px;
}

.android-21 .join-us-at-unza-OP6W0m {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 89px);
  letter-spacing: 0.60px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 9px);
  width: 176px;
}

.android-21 .group-6912-CLixCp {
  background-color: transparent;
  height: 685px;
  left: 17px;
  position: absolute;
  top: 674px;
  width: 330px;
}

.android-21 .rectangle-261-r41jew {
  background-color: var(--ema-white);
  border-radius: 12px;
  height: 219px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 328px;
}

.android-21 .group-6911-r41jew {
  background-color: transparent;
  height: 0px;
  left: 2px;
  position: absolute;
  top: 685px;
  width: 323px;
}

.android-21 .group-6813-5TvqbY {
  background-color: transparent;
  height: 0px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.android-21 .vector-25-IItb8a {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.android-21 .copperbelt-universit-r41jew {
  background-color: transparent;
  color: var(--ema-white);
  font-family: var(--font-family-gellix-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 2px;
  letter-spacing: 0.48px;
  line-height: 21.3px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 240px;
  width: 324px;
}

.android-21 .text-search-field-r41jew {
  background-color: transparent;
  height: 47px;
  left: 57px;
  position: absolute;
  top: 533px;
  width: 201px;
}

.android-21 .rectangle-65-GUogKj {
  background-color: var(--shamrock);
  border-radius: 8px;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 201px;
}

.android-21 .search-icon-GUogKj {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 88px);
  position: absolute;
  top: calc(50.00% - 9px);
  width: 178px;
}

.android-21 .join-us-at-cbu-JBpZAZ {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 89px);
  letter-spacing: 0.60px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 9px);
  width: 176px;
}

.android-21 .cbu-1-CLixCp {
  background-color: transparent;
  height: 220px;
  left: 66px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 674px;
  width: 219px;
}

.android-21 .footer-CLixCp {
  background-color: transparent;
  bottom: -1185px;
  height: 399px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  width: 360px;
}

.android-21 .group-6838-Kur5AD {
  background-color: transparent;
  height: 622px;
  left: 1px;
  position: absolute;
  top: -50px;
  width: 360px;
}

.android-21 .rectangle-253-SZNxUT {
  background-color: var(--ema-violet);
  height: 622px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 360px;
}

.android-21 .group-6815-SZNxUT {
  background-color: transparent;
  height: 277px;
  left: 18px;
  position: absolute;
  top: 282px;
  width: 152px;
}

.android-21 .text-search-field-N6a0Ji {
  background-color: transparent;
  height: 277px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-21 .search-icon-mmz6Wt {
  background-color: transparent;
  height: 277px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 138px);
  width: 156px;
}

.android-21 .news-latest-news-newsletter-gallery-vd19v6 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 24px);
  width: 152px;
}

.android-21 .span0-Y8fPav {
  letter-spacing: 0.07px;
}

.android-21 .span1-Y8fPav {
  letter-spacing: 0.07px;
}

.android-21 .about-us-mission-vis-vd19v6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 138px);
  width: 102px;
}

.android-21 .span0-iguiUt {
  letter-spacing: 0.07px;
}

.android-21 .span1-iguiUt {
  letter-spacing: 0.07px;
}

.android-21 .group-6838-SZNxUT {
  background-color: transparent;
  height: 283px;
  left: 184px;
  position: absolute;
  top: 113px;
  width: 152px;
}

.android-21 .text-search-field-EE13uv {
  background-color: transparent;
  height: 283px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-21 .search-icon-kkdHnz {
  background-color: transparent;
  height: 283px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 141px);
  width: 154px;
}

.android-21 .programmes-programme-vN0HEq {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 141px);
  width: 152px;
}

.android-21 .span0-oNHmuq {
  letter-spacing: 0.07px;
}

.android-21 .span1-oNHmuq {
  letter-spacing: 0.07px;
}

.android-21 .span2-oNHmuq {
  letter-spacing: 0.07px;
}

.android-21 .span3-oNHmuq {
  letter-spacing: 0.07px;
}

.android-21 .group-6835-SZNxUT {
  background-color: transparent;
  height: 277px;
  left: 184px;
  position: absolute;
  top: 282px;
  width: 151px;
}

.android-21 .text-search-field-fQBKiN {
  background-color: transparent;
  height: 277px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 151px;
}

.android-21 .search-icon-AMUJgm {
  background-color: transparent;
  height: 277px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 138px);
  width: 153px;
}

.android-21 .social-media-faceboo-sgppvV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 138px);
  width: 151px;
}

.android-21 .span0-j0wDcg {
  letter-spacing: 0.07px;
}

.android-21 .span1-j0wDcg {
  letter-spacing: 0.07px;
}

.android-21 .group-6839-SZNxUT {
  background-color: transparent;
  height: 283px;
  left: 16px;
  position: absolute;
  top: 113px;
  width: 152px;
}

.android-21 .group-6839-lIuMDA {
  background-color: transparent;
  height: 283px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-21 .text-search-field-ASo3WZ {
  background-color: transparent;
  height: 283px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 152px;
}

.android-21 .search-icon-ahUpOw {
  background-color: transparent;
  height: 283px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 141px);
  width: 154px;
}

.android-21 .ema-326-joseph-mwilw-nCVYuD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 141px);
  width: 152px;
}

.android-21 .span0-hgYUx6 {
  letter-spacing: 0.07px;
}

.android-21 .span1-hgYUx6 {
  letter-spacing: 0.07px;
}

.android-21 .vector-41-ASo3WZ {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 93px;
  width: 126px;
}

.android-21 .vector-42-ASo3WZ {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 141px;
  width: 77px;
}

.android-21 .group-6840-SZNxUT {
  background-color: transparent;
  height: 620px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.android-21 .rectangle-253-KAbtv2 {
  background-color: var(--ema-violet);
  height: 620px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.android-21 .group-6815-KAbtv2 {
  background-color: transparent;
  height: 276px;
  left: 18px;
  position: absolute;
  top: 281px;
  width: 152px;
}

.android-21 .text-search-field-ErmxuH {
  background-color: transparent;
  height: 276px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-21 .search-icon-vlJLcp {
  background-color: transparent;
  height: 276px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 138px);
  width: 154px;
}

.android-21 .about-us-mission-vis-C74wEv {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 138px);
  width: 152px;
}

.android-21 .span0-EOogf3 {
  letter-spacing: 0.07px;
}

.android-21 .span1-EOogf3 {
  letter-spacing: 0.07px;
}

.android-21 .span2-EOogf3 {
  letter-spacing: 0.07px;
}

.android-21 .group-6838-KAbtv2 {
  background-color: transparent;
  height: 282px;
  left: 184px;
  position: absolute;
  top: 113px;
  width: 152px;
}

.android-21 .text-search-field-H2juma {
  background-color: transparent;
  height: 282px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-21 .search-icon-gz4ZLK {
  background-color: transparent;
  height: 282px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 141px);
  width: 154px;
}

.android-21 .programmes-universit-hQ2Cxs {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 141px);
  width: 152px;
}

.android-21 .group-6835-KAbtv2 {
  background-color: transparent;
  height: 276px;
  left: 184px;
  position: absolute;
  top: 281px;
  width: 151px;
}

.android-21 .text-search-field-HfdB24 {
  background-color: transparent;
  height: 276px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 151px;
}

.android-21 .search-icon-X9prkJ {
  background-color: transparent;
  height: 276px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 138px);
  width: 153px;
}

.android-21 .social-media-faceboo-xN749x {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 138px);
  width: 151px;
}

.android-21 .group-6839-KAbtv2 {
  background-color: transparent;
  height: 282px;
  left: 16px;
  position: absolute;
  top: 113px;
  width: 152px;
}

.android-21 .group-6839-viVzkW {
  background-color: transparent;
  height: 282px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-21 .text-search-field-oSis01 {
  background-color: transparent;
  height: 282px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 152px;
}

.android-21 .search-icon-oO58JS {
  background-color: transparent;
  height: 282px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 141px);
  width: 154px;
}

.android-21 .ema-326-joseph-mwilw-WLaJIj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 141px);
  width: 152px;
}

.android-21 .vector-41-oSis01 {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 93px;
  width: 126px;
}

.android-21 .vector-42-oSis01 {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 141px;
  width: 77px;
}

.android-21 .group-6840-Kur5AD {
  background-color: transparent;
  height: 7.52%;
  left: 18px;
  position: absolute;
  top: 4.76%;
  width: 82px;
}

.android-21 .vector-l5zTlV {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.android-21 .group-6841-Kur5AD {
  background-color: transparent;
  height: 627px;
  left: 1px;
  position: absolute;
  top: -68px;
  width: 360px;
}

.android-21 .rectangle-253-pAQjY3 {
  background-color: var(--ema-violet);
  height: 627px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 360px;
}

.android-21 .group-6815-pAQjY3 {
  background-color: transparent;
  height: 279px;
  left: 18px;
  position: absolute;
  top: 284px;
  width: 152px;
}

.android-21 .text-search-field-E5xsbD {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-21 .search-icon-fdyBLJ {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 140px);
  width: 156px;
}

.android-21 .news-latest-news-newsletter-gallery-1WD3qd {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 24px);
  width: 152px;
}

.android-21 .span0-CuYJ1o {
  letter-spacing: 0.07px;
}

.android-21 .span1-CuYJ1o {
  letter-spacing: 0.07px;
}

.android-21 .about-us-mission-vis-1WD3qd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 140px);
  width: 102px;
}

.android-21 .span0-xoLPoX {
  letter-spacing: 0.07px;
}

.android-21 .span1-xoLPoX {
  letter-spacing: 0.07px;
}

.android-21 .group-6838-pAQjY3 {
  background-color: transparent;
  height: 285px;
  left: 184px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.android-21 .text-search-field-DNcy8L {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-21 .search-icon-FPnaBr {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 142px);
  width: 154px;
}

.android-21 .programmes-programme-1PuPZb {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 142px);
  width: 152px;
}

.android-21 .span0-D6XGV9 {
  letter-spacing: 0.07px;
}

.android-21 .span1-D6XGV9 {
  letter-spacing: 0.07px;
}

.android-21 .span2-D6XGV9 {
  letter-spacing: 0.07px;
}

.android-21 .span3-D6XGV9 {
  letter-spacing: 0.07px;
}

.android-21 .group-6835-pAQjY3 {
  background-color: transparent;
  height: 279px;
  left: 184px;
  position: absolute;
  top: 284px;
  width: 151px;
}

.android-21 .text-search-field-0Q8xnk {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 151px;
}

.android-21 .search-icon-utcPr1 {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 140px);
  width: 153px;
}

.android-21 .social-media-faceboo-mdQZYN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 140px);
  width: 151px;
}

.android-21 .span0-arPYIp {
  letter-spacing: 0.07px;
}

.android-21 .span1-arPYIp {
  letter-spacing: 0.07px;
}

.android-21 .group-6839-pAQjY3 {
  background-color: transparent;
  height: 285px;
  left: 16px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.android-21 .group-6839-bBNTFV {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-21 .text-search-field-GMHTGs {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 152px;
}

.android-21 .search-icon-xWYKPT {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 142px);
  width: 154px;
}

.android-21 .ema-326-joseph-mwilw-ups8My {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 142px);
  width: 152px;
}

.android-21 .span0-WBliXa {
  letter-spacing: 0.07px;
}

.android-21 .span1-WBliXa {
  letter-spacing: 0.07px;
}

.android-21 .vector-41-GMHTGs {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 94px;
  width: 126px;
}

.android-21 .vector-42-GMHTGs {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 142px;
  width: 77px;
}

.android-21 .group-6840-pAQjY3 {
  background-color: transparent;
  height: 625px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.android-21 .rectangle-253-V0Pkap {
  background-color: var(--ema-violet);
  height: 625px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.android-21 .group-6815-V0Pkap {
  background-color: transparent;
  height: 278px;
  left: 18px;
  position: absolute;
  top: 283px;
  width: 152px;
}

.android-21 .text-search-field-7ExZaz {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-21 .search-icon-VW63BG {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 139px);
  width: 154px;
}

.android-21 .about-us-mission-vis-El6BEW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 139px);
  width: 152px;
}

.android-21 .span0-2TyBsz {
  letter-spacing: 0.07px;
}

.android-21 .span1-2TyBsz {
  letter-spacing: 0.07px;
}

.android-21 .span2-2TyBsz {
  letter-spacing: 0.07px;
}

.android-21 .group-6838-V0Pkap {
  background-color: transparent;
  height: 284px;
  left: 184px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.android-21 .text-search-field-7m1l5c {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-21 .search-icon-vzOIQA {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 142px);
  width: 154px;
}

.android-21 .programmes-universit-SH6kAK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 142px);
  width: 152px;
}

.android-21 .group-6835-V0Pkap {
  background-color: transparent;
  height: 278px;
  left: 184px;
  position: absolute;
  top: 283px;
  width: 151px;
}

.android-21 .text-search-field-dmqHJf {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 151px;
}

.android-21 .search-icon-Y9OXo2 {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 139px);
  width: 153px;
}

.android-21 .social-media-faceboo-jkHA3x {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 139px);
  width: 151px;
}

.android-21 .group-6839-V0Pkap {
  background-color: transparent;
  height: 284px;
  left: 16px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.android-21 .group-6839-nC3Y4p {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-21 .text-search-field-H9Q26z {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 152px;
}

.android-21 .search-icon-wHXyCd {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 142px);
  width: 154px;
}

.android-21 .ema-326-joseph-mwilw-8QeQZE {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 142px);
  width: 152px;
}

.android-21 .vector-41-H9Q26z {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 94px;
  width: 126px;
}

.android-21 .vector-42-H9Q26z {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 142px;
  width: 77px;
}

.android-21 .group-6842-Kur5AD {
  background-color: transparent;
  height: 7.52%;
  left: 18px;
  position: absolute;
  top: -12.28%;
  width: 82px;
}

.android-21 .vector-PV1xPz {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.android-21 .frame-7-Kur5AD {
  background-color: var(--ema-dark-violet);
  height: 33px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 539px;
  width: 360px;
}

.android-21 .copyright-2021-energy-makers-academy-cfuEBi {
  background-color: transparent;
  height: 33px;
  left: 17px;
  letter-spacing: 0.55px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 16px);
  width: 333px;
}

.android-21 .x218432609-CLixCp {
  background-color: transparent;
  bottom: 336px;
  height: 219px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  width: 330px;
}

.android-21 .nav-CLixCp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 360px;
}

.android-21 .group-6808-DtwSd0 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.android-21 .group-6806-Ov9UIT {
  background-color: transparent;
  height: 64px;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 64px;
}

.android-21 .rectangle-235-OI4tcQ {
  background-color: var(--dull-lavender-2);
  height: 64px;
  mix-blend-mode: normal;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 64px;
}

.android-21 .vector-35-Ov9UIT {
  background-color: transparent;
  height: 64px;
  position: absolute;
  right: 63px;
  top: 0px;
  width: 2px;
}

.android-21 .vector-36-Ov9UIT {
  background-color: transparent;
  height: 1px;
  position: absolute;
  right: 0px;
  top: 64px;
  width: 360px;
}

.android-21 .group-6810-DtwSd0 {
  background-color: transparent;
  cursor: pointer;
  height: 30px;
  left: 18px;
  position: absolute;
  top: 19px;
  width: 82px;
}

.android-21 .frame-0mKxcx {
  background-color: transparent;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 82px;
}

.android-21 .vector-8fXxyb {
  background-color: transparent;
  height: 101.88%;
  left: -0.41%;
  mix-blend-mode: normal;
  position: absolute;
  top: -0.94%;
  width: 100.82%;
}

.android-21 .group-6825-CLixCp {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  position: fixed;
  right: 14px;
  top: 24px;
  width: 35px;
}

.android-21 .vector-37-mZxoAu {
  background-color: transparent;
  height: 1px;
  position: absolute;
  right: 0px;
  top: 8px;
  width: 36px;
}

.android-21 .vector-38-mZxoAu {
  background-color: transparent;
  height: 1px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 36px;
}

.android-21 .vector-39-mZxoAu {
  background-color: transparent;
  height: 1px;
  position: absolute;
  right: 0px;
  top: 16px;
  width: 36px;
}
