/* screen - android-25 */

.android-25 {
  background-color: #dbdbdb;
  height: 100vh;
  margin: 0px;
  min-height: 640px;
  min-width: 360px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.android-25 .rectangle-250-O0elSd {
  background-color: var(--lines);
  height: 1952px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.android-25 .group-6817-O0elSd {
  background-color: transparent;
  height: 178px;
  left: 16px;
  position: absolute;
  top: 85px;
  width: 328px;
}

.android-25 .rectangle-246-Fjxxr2 {
  background-color: var(--ema-yellow);
  height: 178px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 328px;
}

.android-25 .group-6811-Fjxxr2 {
  background-color: transparent;
  height: 35px;
  left: 137px;
  position: absolute;
  top: 72px;
  width: 55px;
}

.android-25 .rectangle-247-n8IZyE {
  background-color: #453b7373;
  border-radius: 5px;
  height: 35px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 55px;
}

.android-25 .polygon-1-n8IZyE {
  background-color: transparent;
  height: 18px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 17px;
}

.android-25 .group-6813-O0elSd {
  background-color: transparent;
  height: 371px;
  left: 18px;
  position: absolute;
  top: 953px;
  width: 324px;
}

.android-25 .group-6813-4xWV0x {
  background-color: transparent;
  height: 371px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 326px;
}

.android-25 .we-teach-students-th-LGN8s6 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.48px;
  line-height: 21.3px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 324px;
}

.android-25 .vector-25-LGN8s6 {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 370px;
  width: calc(100.00% - 3px);
}

.android-25 .text-search-field-4xWV0x {
  background-color: transparent;
  height: 47px;
  left: 1px;
  position: absolute;
  top: 263px;
  width: 190px;
}

.android-25 .rectangle-65-K80gbc {
  background-color: var(--biloba-flower);
  border-radius: 8px;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 190px;
}

.android-25 .search-icon-K80gbc {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 83px);
  position: absolute;
  top: calc(50.00% - 9px);
  width: 168px;
}

.android-25 .partners-of-ema-4Y7eHg {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 84px);
  letter-spacing: 0.60px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 9px);
  width: 166px;
}

.android-25 .group-6829-O0elSd {
  background-color: transparent;
  height: 371px;
  left: 18px;
  position: absolute;
  top: 1394px;
  width: 324px;
}

.android-25 .group-6813-UvZf3O {
  background-color: transparent;
  height: 371px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 326px;
}

.android-25 .we-teach-students-th-JaRBxI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.48px;
  line-height: 21.3px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 324px;
}

.android-25 .vector-25-JaRBxI {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 370px;
  width: calc(100.00% - 3px);
}

.android-25 .text-search-field-UvZf3O {
  background-color: transparent;
  height: 47px;
  left: 1px;
  position: absolute;
  top: 263px;
  width: 228px;
}

.android-25 .rectangle-65-lauA7u {
  background-color: var(--biloba-flower);
  border-radius: 8px;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 228px;
}

.android-25 .search-icon-lauA7u {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 100px);
  position: absolute;
  top: calc(50.00% - 9px);
  width: 202px;
}

.android-25 .get-involved-with-ema-7I5q4j {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 101px);
  letter-spacing: 0.60px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 9px);
  width: 200px;
}

.android-25 .mission-and-vision-t-O0elSd {
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-gellix-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 18px;
  letter-spacing: 0.48px;
  line-height: 21.5px;
  position: absolute;
  text-align: left;
  top: 320px;
  width: 171px;
}

.android-25 .span0-6ffaxK {
  color: var(--ema-dark-violet);
  font-style: normal;
  letter-spacing: 0.08px;
}

.android-25 .span1-6ffaxK {
  color: #ffffff80;
  font-style: normal;
  letter-spacing: 0.08px;
}

.android-25 .group-6813-nAQxKk {
  background-color: transparent;
  height: 371px;
  left: 18px;
  position: absolute;
  top: 515px;
  width: 324px;
}

.android-25 .group-6813-K9Z3Wq {
  background-color: transparent;
  height: 371px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 326px;
}

.android-25 .we-teach-students-th-IlnfgH {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.48px;
  line-height: 21.3px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 324px;
}

.android-25 .vector-25-IlnfgH {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 370px;
  width: calc(100.00% - 3px);
}

.android-25 .text-search-field-K9Z3Wq {
  background-color: transparent;
  height: 47px;
  left: 1px;
  position: absolute;
  top: 263px;
  width: 201px;
}

.android-25 .rectangle-65-5gbxxw {
  background-color: var(--biloba-flower);
  border-radius: 8px;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 201px;
}

.android-25 .search-icon-5gbxxw {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 88px);
  position: absolute;
  top: calc(50.00% - 9px);
  width: 178px;
}

.android-25 .meet-the-ema-team-d419xK {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 89px);
  letter-spacing: 0.60px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 9px);
  width: 176px;
}

.android-25 .group-6838-O0elSd {
  background-color: transparent;
  height: 627px;
  left: 0px;
  position: absolute;
  top: 1765px;
  width: 360px;
}

.android-25 .rectangle-253-qm6qDc {
  background-color: var(--ema-violet);
  height: 627px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 360px;
}

.android-25 .group-6815-qm6qDc {
  background-color: transparent;
  height: 279px;
  left: 18px;
  position: absolute;
  top: 284px;
  width: 152px;
}

.android-25 .text-search-field-wCezDI {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-25 .search-icon-guU8xB {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 140px);
  width: 156px;
}

.android-25 .news-latest-news-newsletter-gallery-RopMtc {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 24px);
  width: 152px;
}

.android-25 .span0-HOxmlu {
  letter-spacing: 0.07px;
}

.android-25 .span1-HOxmlu {
  letter-spacing: 0.07px;
}

.android-25 .about-us-mission-vis-RopMtc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 140px);
  width: 102px;
}

.android-25 .span0-X9cf15 {
  letter-spacing: 0.07px;
}

.android-25 .span1-X9cf15 {
  letter-spacing: 0.07px;
}

.android-25 .group-6838-qm6qDc {
  background-color: transparent;
  height: 285px;
  left: 184px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.android-25 .text-search-field-C0wANk {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-25 .search-icon-pB5Qkn {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 142px);
  width: 154px;
}

.android-25 .programmes-programme-0dfisD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 142px);
  width: 152px;
}

.android-25 .span0-anx7Yn {
  letter-spacing: 0.07px;
}

.android-25 .span1-anx7Yn {
  letter-spacing: 0.07px;
}

.android-25 .span2-anx7Yn {
  letter-spacing: 0.07px;
}

.android-25 .span3-anx7Yn {
  letter-spacing: 0.07px;
}

.android-25 .group-6835-qm6qDc {
  background-color: transparent;
  height: 279px;
  left: 184px;
  position: absolute;
  top: 284px;
  width: 151px;
}

.android-25 .text-search-field-4yamVE {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 151px;
}

.android-25 .search-icon-jelndx {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 140px);
  width: 153px;
}

.android-25 .social-media-faceboo-pQw4VI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 140px);
  width: 151px;
}

.android-25 .span0-sDzOic {
  letter-spacing: 0.07px;
}

.android-25 .span1-sDzOic {
  letter-spacing: 0.07px;
}

.android-25 .group-6839-qm6qDc {
  background-color: transparent;
  height: 285px;
  left: 16px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.android-25 .group-6839-pVm7Gn {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-25 .text-search-field-pHJ2hZ {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 152px;
}

.android-25 .search-icon-CbNtVo {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 142px);
  width: 154px;
}

.android-25 .ema-326-joseph-mwilw-YKmph5 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 142px);
  width: 152px;
}

.android-25 .span0-MvTxnu {
  letter-spacing: 0.07px;
}

.android-25 .span1-MvTxnu {
  letter-spacing: 0.07px;
}

.android-25 .vector-41-pHJ2hZ {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 94px;
  width: 126px;
}

.android-25 .vector-42-pHJ2hZ {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 142px;
  width: 77px;
}

.android-25 .group-6840-qm6qDc {
  background-color: transparent;
  height: 625px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.android-25 .rectangle-253-FQUugP {
  background-color: var(--ema-violet);
  height: 625px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.android-25 .group-6815-FQUugP {
  background-color: transparent;
  height: 278px;
  left: 18px;
  position: absolute;
  top: 283px;
  width: 152px;
}

.android-25 .text-search-field-4o7xMq {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-25 .search-icon-vbGvZN {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 139px);
  width: 154px;
}

.android-25 .about-us-mission-vis-1MOdQF {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 139px);
  width: 152px;
}

.android-25 .span0-3MvJIV {
  letter-spacing: 0.07px;
}

.android-25 .span1-3MvJIV {
  letter-spacing: 0.07px;
}

.android-25 .span2-3MvJIV {
  letter-spacing: 0.07px;
}

.android-25 .group-6838-FQUugP {
  background-color: transparent;
  height: 284px;
  left: 184px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.android-25 .text-search-field-M1x8T5 {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-25 .search-icon-4h28rs {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 142px);
  width: 154px;
}

.android-25 .programmes-universit-bx9Gef {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 142px);
  width: 152px;
}

.android-25 .group-6835-FQUugP {
  background-color: transparent;
  height: 278px;
  left: 184px;
  position: absolute;
  top: 283px;
  width: 151px;
}

.android-25 .text-search-field-aPbalE {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 151px;
}

.android-25 .search-icon-238iqE {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 139px);
  width: 153px;
}

.android-25 .social-media-faceboo-x9WPQc {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 139px);
  width: 151px;
}

.android-25 .group-6839-FQUugP {
  background-color: transparent;
  height: 284px;
  left: 16px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.android-25 .group-6839-5wGNqH {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.android-25 .text-search-field-J3UxNF {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 152px;
}

.android-25 .search-icon-xZPfiB {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: calc(50.00% - 142px);
  width: 154px;
}

.android-25 .ema-326-joseph-mwilw-5yDkcb {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 142px);
  width: 152px;
}

.android-25 .vector-41-J3UxNF {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 94px;
  width: 126px;
}

.android-25 .vector-42-J3UxNF {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 142px;
  width: 77px;
}

.android-25 .group-6840-O0elSd {
  background-color: transparent;
  height: 4.69%;
  left: 17px;
  position: absolute;
  top: 278.75%;
  width: 82px;
}

.android-25 .vector-pxhdqy {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.android-25 .frame-6-O0elSd {
  background-color: var(--ema-dark-violet);
  height: 33px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2372px;
  width: 360px;
}

.android-25 .copyright-2021-energy-makers-academy-spvddO {
  background-color: transparent;
  height: 33px;
  left: 17px;
  letter-spacing: 0.55px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 16px);
  width: 333px;
}

.android-25 .nav-O0elSd {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 360px;
}

.android-25 .group-6808-dp0qug {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.android-25 .rectangle-236-zIfBe8 {
  background-color: var(--ema-violet);
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.android-25 .group-6806-zIfBe8 {
  background-color: transparent;
  height: 64px;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 64px;
}

.android-25 .rectangle-235-wJGpQN {
  background-color: var(--dull-lavender-2);
  height: 64px;
  mix-blend-mode: normal;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 64px;
}

.android-25 .vector-35-zIfBe8 {
  background-color: transparent;
  height: 64px;
  position: absolute;
  right: 63px;
  top: 0px;
  width: 2px;
}

.android-25 .vector-36-zIfBe8 {
  background-color: transparent;
  height: 1px;
  position: absolute;
  right: 0px;
  top: 64px;
  width: 360px;
}

.android-25 .group-6810-dp0qug {
  background-color: transparent;
  height: 30px;
  left: 18px;
  position: absolute;
  top: 19px;
  width: 82px;
}

.android-25 .frame-V01ntN {
  background-color: transparent;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 82px;
}

.android-25 .vector-xoXbPd {
  background-color: transparent;
  height: 101.88%;
  left: -0.41%;
  mix-blend-mode: normal;
  position: absolute;
  top: -0.94%;
  width: 100.82%;
}

.android-25 .group-6825-O0elSd {
  background-color: transparent;
  height: 16px;
  position: fixed;
  right: 14px;
  top: 24px;
  width: 35px;
}

.android-25 .vector-37-TKSxvb {
  background-color: transparent;
  height: 1px;
  position: absolute;
  right: 0px;
  top: 8px;
  width: 36px;
}

.android-25 .vector-38-TKSxvb {
  background-color: transparent;
  height: 1px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 36px;
}

.android-25 .vector-39-TKSxvb {
  background-color: transparent;
  height: 1px;
  position: absolute;
  right: 0px;
  top: 16px;
  width: 36px;
}
