/* screen - frame-21 */

.frame-21 {
  background-color: var(--ema-white);
  height: 640px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 360px;
}

.frame-21 .group-6841-3QCQ5x {
  background-color: transparent;
  height: 627px;
  left: 0px;
  position: absolute;
  top: 704px;
  width: 360px;
}

.frame-21 .rectangle-253-MPxxKu {
  background-color: var(--ema-violet);
  height: 627px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.frame-21 .group-6815-MPxxKu {
  background-color: transparent;
  height: 279px;
  left: 18px;
  position: absolute;
  top: 284px;
  width: 152px;
}

.frame-21 .text-search-field-CvViO3 {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.frame-21 .search-icon-1wv4Zx {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 156px;
}

.frame-21 .news-latest-news-newsletter-gallery-UkRc8k {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 115px;
  width: 152px;
}

.frame-21 .span0-oSVux0 {
  letter-spacing: 0.07px;
}

.frame-21 .span1-oSVux0 {
  letter-spacing: 0.07px;
}

.frame-21 .about-us-mission-vis-UkRc8k {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 102px;
}

.frame-21 .span0-MRzzTb {
  letter-spacing: 0.07px;
}

.frame-21 .span1-MRzzTb {
  letter-spacing: 0.07px;
}

.frame-21 .group-6838-MPxxKu {
  background-color: transparent;
  height: 285px;
  left: 184px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.frame-21 .text-search-field-qSYokm {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.frame-21 .search-icon-xF51rR {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 154px;
}

.frame-21 .programmes-programme-cYcFli {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 152px;
}

.frame-21 .span0-SwyNfN {
  letter-spacing: 0.07px;
}

.frame-21 .span1-SwyNfN {
  letter-spacing: 0.07px;
}

.frame-21 .span2-SwyNfN {
  letter-spacing: 0.07px;
}

.frame-21 .span3-SwyNfN {
  letter-spacing: 0.07px;
}

.frame-21 .group-6835-MPxxKu {
  background-color: transparent;
  height: 279px;
  left: 184px;
  position: absolute;
  top: 284px;
  width: 151px;
}

.frame-21 .text-search-field-cjfNS3 {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 151px;
}

.frame-21 .search-icon-W4MTSE {
  background-color: transparent;
  height: 279px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 153px;
}

.frame-21 .social-media-faceboo-xue4OI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 151px;
}

.frame-21 .span0-VbeyNe {
  letter-spacing: 0.07px;
}

.frame-21 .span1-VbeyNe {
  letter-spacing: 0.07px;
}

.frame-21 .group-6839-MPxxKu {
  background-color: transparent;
  height: 285px;
  left: 16px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.frame-21 .group-6839-Kg8FRg {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.frame-21 .text-search-field-lRcArT {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 152px;
}

.frame-21 .search-icon-BxTSdU {
  background-color: transparent;
  height: 285px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 154px;
}

.frame-21 .ema-326-joseph-mwilw-6mouOe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 152px;
}

.frame-21 .span0-5xDfIx {
  letter-spacing: 0.07px;
}

.frame-21 .span1-5xDfIx {
  letter-spacing: 0.07px;
}

.frame-21 .vector-41-lRcArT {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 94px;
  width: 126px;
}

.frame-21 .vector-42-lRcArT {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 142px;
  width: 77px;
}

.frame-21 .group-6840-MPxxKu {
  background-color: transparent;
  height: 625px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.frame-21 .rectangle-253-EFaRsi {
  background-color: var(--ema-violet);
  height: 625px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.frame-21 .group-6815-EFaRsi {
  background-color: transparent;
  height: 278px;
  left: 18px;
  position: absolute;
  top: 283px;
  width: 152px;
}

.frame-21 .text-search-field-v8KzvZ {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.frame-21 .search-icon-629ysH {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 154px;
}

.frame-21 .about-us-mission-vis-lxOwes {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 152px;
}

.frame-21 .span0-KLLQLa {
  letter-spacing: 0.07px;
}

.frame-21 .span1-KLLQLa {
  letter-spacing: 0.07px;
}

.frame-21 .span2-KLLQLa {
  letter-spacing: 0.07px;
}

.frame-21 .group-6838-EFaRsi {
  background-color: transparent;
  height: 284px;
  left: 184px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.frame-21 .text-search-field-CN605W {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.frame-21 .search-icon-16EvSi {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 154px;
}

.frame-21 .programmes-universit-yVx6ls {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 152px;
}

.frame-21 .group-6835-EFaRsi {
  background-color: transparent;
  height: 278px;
  left: 184px;
  position: absolute;
  top: 283px;
  width: 151px;
}

.frame-21 .text-search-field-wiEqaA {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 151px;
}

.frame-21 .search-icon-QRayHs {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 153px;
}

.frame-21 .social-media-faceboo-aKE5uw {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 151px;
}

.frame-21 .group-6839-EFaRsi {
  background-color: transparent;
  height: 284px;
  left: 16px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.frame-21 .group-6839-wXVacv {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.frame-21 .text-search-field-S3hXdr {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 152px;
}

.frame-21 .search-icon-NMAPsr {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 154px;
}

.frame-21 .ema-326-joseph-mwilw-FkNS0L {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 152px;
}

.frame-21 .vector-41-S3hXdr {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 94px;
  width: 126px;
}

.frame-21 .vector-42-S3hXdr {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 142px;
  width: 77px;
}

.frame-21 .group-6842-3QCQ5x {
  background-color: transparent;
  height: 30px;
  left: 17px;
  position: absolute;
  top: 723px;
  width: 82px;
}

.frame-21 .vector-EqXyVW {
  background-color: transparent;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.frame-21 .frame-7-3QCQ5x {
  background-color: var(--ema-dark-violet);
  height: 33px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1311px;
  width: 360px;
}

.frame-21 .copyright-2021-energy-makers-academy-xj0w5J {
  background-color: transparent;
  height: 33px;
  left: 17px;
  letter-spacing: 0.55px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 333px;
}

.frame-21 .nav-3QCQ5x {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: -2px;
  position: fixed;
  top: 0px;
  width: 362px;
}

.frame-21 .group-6808-VvIp4Z {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 362px;
}

.frame-21 .rectangle-236-oHsGfL {
  background-color: var(--ema-violet);
  height: 64px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.frame-21 .group-6806-oHsGfL {
  background-color: transparent;
  height: 64px;
  left: 296px;
  position: absolute;
  top: 0px;
  width: 64px;
}

.frame-21 .rectangle-235-xehmNQ {
  background-color: var(--dull-lavender-2);
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 64px;
}

.frame-21 .vector-35-oHsGfL {
  background-color: transparent;
  height: 64px;
  left: 295px;
  position: absolute;
  top: -0px;
  width: 2px;
}

.frame-21 .vector-36-oHsGfL {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 63px;
  width: 360px;
}

.frame-21 .group-6810-VvIp4Z {
  background-color: transparent;
  height: 30px;
  left: 20px;
  position: absolute;
  top: 19px;
  width: 82px;
}

.frame-21 .frame-ZHndks {
  background-color: transparent;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 82px;
}

.frame-21 .vector-x4zosM {
  background-color: transparent;
  height: 31px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 83px;
}
