/* screen - mob-website-1 */

.mob-website-1 {
  background-color: var(--ema-pale-violet);
  height: 640px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: absolute;
  width: 360px;
}

.mob-website-1 .rectangle-250-oDrQOx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .x121170480_1762245074-oDrQOx {
  background-color: transparent;
  height: 640px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .x131662611_3760936164-oDrQOx {
  background-color: transparent;
  height: 640px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .rectangle-258-oDrQOx {
  background-color: transparent;
  height: 283px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 364px;
  width: 360px;
}

.mob-website-1 .learn-how-to-build-a-solar-energy-system-oDrQOx {
  background-color: transparent;
  height: 89px;
  left: 85px;
  mix-blend-mode: normal;
  position: absolute;
  top: 330px;
  width: 176px;
}

.mob-website-1 .text-search-field-oDrQOx {
  background-color: transparent;
  cursor: pointer;
  height: 47px;
  left: 18px;
  position: absolute;
  top: 540px;
  width: 201px;
}

.mob-website-1 .group-6879-oDrQOx {
  background-color: transparent;
  height: 969px;
  left: 0px;
  position: absolute;
  top: 640px;
  width: 360px;
}

.mob-website-1 .rectangle-251-4gCxlQ {
  background-color: var(--blue-violet);
  height: 969px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 360px;
}

.mob-website-1 .frame-15-oDrQOx::-webkit-scrollbar {
  display: none;
  width: 0;
}

.mob-website-1 .frame-15-oDrQOx {
  background-color: transparent;
  height: 278px;
  left: 0px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  top: 1331px;
  width: 360px;
}

.mob-website-1 .group-6880-zl5oRi {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1081px;
}

.mob-website-1 .rectangle-251-mIDvCT {
  background-color: var(--blue-violet);
  height: 278px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 1081px;
}

.mob-website-1 .group-6851-zl5oRi {
  background-color: transparent;
  height: 170px;
  left: 16px;
  position: absolute;
  top: 55px;
  width: 330px;
}

.mob-website-1 .energy-makers-academ-2exkVj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.48px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: justify;
  top: 0px;
  width: 328px;
}

.mob-website-1 .group-6908-zl5oRi {
  background-color: transparent;
  height: 170px;
  left: 376px;
  position: absolute;
  top: 55px;
  width: 330px;
}

.mob-website-1 .the-energy-makers-ac-SA6ZIx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.48px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: justify;
  top: 0px;
  width: 328px;
}

.mob-website-1 .group-6909-zl5oRi {
  background-color: transparent;
  height: 170px;
  left: 736px;
  position: absolute;
  top: 55px;
  width: 330px;
}

.mob-website-1 .the-energy-makers-ac-oQ9JCz {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.48px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: justify;
  top: 0px;
  width: 328px;
}

.mob-website-1 .text_label-zl5oRi {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 168px;
  letter-spacing: 0.33px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 205px;
  width: 48px;
}

.mob-website-1 .text_label-4xOrq9 {
  background-color: transparent;
  height: 64px;
  left: 144px;
  letter-spacing: 0.33px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.15;
  position: absolute;
  text-align: left;
  top: 205px;
  width: 48px;
}

.mob-website-1 .text_label-yDgm9c {
  background-color: transparent;
  height: 64px;
  left: 888px;
  letter-spacing: 0.33px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.15;
  position: absolute;
  text-align: right;
  top: 205px;
  width: 48px;
}

.mob-website-1 .text_label-fTrMwG {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 864px;
  letter-spacing: 0.33px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 205px;
  width: 48px;
}

.mob-website-1 .text_label-kw3rBg {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 528px;
  letter-spacing: 0.33px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 205px;
  width: 48px;
}

.mob-website-1 .text-zl5oRi {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-gellix-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: -3677px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7216px;
  white-space: nowrap;
  width: auto;
}

.mob-website-1 .text_label-3GDHxW {
  background-color: transparent;
  height: 64px;
  left: 504px;
  letter-spacing: 0.33px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.15;
  position: absolute;
  text-align: left;
  top: 205px;
  width: 48px;
}

.mob-website-1 .frame-14-oDrQOx::-webkit-scrollbar {
  display: none;
  width: 0;
}

.mob-website-1 .frame-14-oDrQOx {
  background-color: transparent;
  height: 209px;
  left: 0px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  position: absolute;
  top: 640px;
  width: 360px;
}

.mob-website-1 .upcoming-programmes-V2tgzm {
  background-color: transparent;
  height: 250px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 1521px;
}

.mob-website-1 .group-6846-ILQfuD {
  background-color: transparent;
  height: 250px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1521px;
}

.mob-website-1 .rectangle-259-heDKUl {
  background-color: var(--ema-violet);
  height: 250px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 1521px;
}

.mob-website-1 .text-search-field-V2tgzm {
  background-color: transparent;
  height: 103px;
  left: 16px;
  position: absolute;
  top: 168px;
  width: 160px;
}

.mob-website-1 .search-icon-O0QSVL {
  background-color: transparent;
  height: 103px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 162px;
}

.mob-website-1 .univaersity-of-zambi-UsCsgK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 160px;
}

.mob-website-1 .span0-7iaw1V {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-7iaw1V {
  letter-spacing: 0.07px;
}

.mob-website-1 .text-search-field-yKZ8KM {
  background-color: transparent;
  cursor: pointer;
  height: 103px;
  left: 184px;
  position: absolute;
  top: 168px;
  width: 160px;
}

.mob-website-1 .search-icon-shIDKb {
  background-color: transparent;
  height: 103px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 162px;
}

.mob-website-1 .copperbelt-universit-xMqfMN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 160px;
}

.mob-website-1 .span0-27n1RH {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-27n1RH {
  letter-spacing: 0.07px;
}

.mob-website-1 .text-search-field-wJf6tt {
  background-color: transparent;
  height: 103px;
  left: 352px;
  position: absolute;
  top: 168px;
  width: 160px;
}

.mob-website-1 .search-icon-evg39j {
  background-color: transparent;
  height: 103px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 162px;
}

.mob-website-1 .solwezi-trades-december-2021-more-info-LgRoRm {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 160px;
}

.mob-website-1 .span0-tWMlyZ {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-tWMlyZ {
  letter-spacing: 0.07px;
}

.mob-website-1 .text-search-field-gx8hce {
  background-color: transparent;
  height: 103px;
  left: 520px;
  position: absolute;
  top: 168px;
  width: 160px;
}

.mob-website-1 .search-icon-Vp6NjD {
  background-color: transparent;
  height: 103px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 162px;
}

.mob-website-1 .lbtc-january-2022-more-info-hnR08F {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 160px;
}

.mob-website-1 .span0-rt1uVH {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-rt1uVH {
  letter-spacing: 0.07px;
}

.mob-website-1 .text-search-field-8uf8Vn {
  background-color: transparent;
  height: 103px;
  left: 689px;
  position: absolute;
  top: 168px;
  width: 160px;
}

.mob-website-1 .search-icon-f7UKDR {
  background-color: transparent;
  height: 103px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 162px;
}

.mob-website-1 .libes-february-2022-more-info-H1HKFT {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 160px;
}

.mob-website-1 .span0-f9AD5B {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-f9AD5B {
  letter-spacing: 0.07px;
}

.mob-website-1 .text-search-field-TTZDwG {
  background-color: transparent;
  height: 103px;
  left: 857px;
  position: absolute;
  top: 168px;
  width: 160px;
}

.mob-website-1 .search-icon-Cgc2uG {
  background-color: transparent;
  height: 103px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 162px;
}

.mob-website-1 .nortec-march-2022-more-info-TOTg8A {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 160px;
}

.mob-website-1 .span0-oSjaiz {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-oSjaiz {
  letter-spacing: 0.07px;
}

.mob-website-1 .text-search-field-GyZVmw {
  background-color: transparent;
  height: 103px;
  left: 1025px;
  position: absolute;
  top: 168px;
  width: 160px;
}

.mob-website-1 .search-icon-tovTec {
  background-color: transparent;
  height: 103px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 162px;
}

.mob-website-1 .luanshya-trades-april-2022-more-info-YOyW9X {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 160px;
}

.mob-website-1 .span0-xHbte2 {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-xHbte2 {
  letter-spacing: 0.07px;
}

.mob-website-1 .text-search-field-WCjNr2 {
  background-color: transparent;
  height: 103px;
  left: 1193px;
  position: absolute;
  top: 168px;
  width: 160px;
}

.mob-website-1 .search-icon-9BxDWZ {
  background-color: transparent;
  height: 103px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 162px;
}

.mob-website-1 .chizongwe-tech-may-2022-more-info-aoxx4i {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 160px;
}

.mob-website-1 .span0-27flG4 {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-27flG4 {
  letter-spacing: 0.07px;
}

.mob-website-1 .text-search-field-4YRTZZ {
  background-color: transparent;
  height: 87px;
  left: 16px;
  position: absolute;
  top: 680px;
  width: 270px;
}

.mob-website-1 .search-icon-MGcRJH {
  background-color: transparent;
  height: 87px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 272px;
}

.mob-website-1 .upcoming-programmes-bKnvYg {
  background-color: transparent;
  color: var(--shamrock);
  font-family: var(--font-family-gellix-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 270px;
}

.mob-website-1 .vector-26-oDrQOx {
  background-color: transparent;
  height: 252px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 360px;
}

.mob-website-1 .group-6881-oDrQOx {
  background-color: transparent;
  height: 330px;
  left: -64px;
  position: absolute;
  top: 1001px;
  width: 529px;
}

.mob-website-1 .vector-l2aDIQ {
  background-color: transparent;
  height: 289px;
  left: 125px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 187px;
}

.mob-website-1 .vector-EtHoxt {
  background-color: transparent;
  height: 186px;
  left: 212px;
  mix-blend-mode: normal;
  position: absolute;
  top: 145px;
  width: 217px;
}

.mob-website-1 .vector-L84Ets {
  background-color: transparent;
  height: 29px;
  left: 235px;
  mix-blend-mode: normal;
  position: absolute;
  top: 272px;
  transform: rotate(-180.00deg);
  width: 132px;
}

.mob-website-1 .vector-yrMMG1 {
  background-color: transparent;
  height: 29px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  transform: rotate(180.00deg);
  width: 132px;
}

.mob-website-1 .vector-zznlZz {
  background-color: transparent;
  height: 184px;
  left: 360px;
  mix-blend-mode: normal;
  position: absolute;
  top: 69px;
  transform: rotate(90.00deg);
  width: 153px;
}

.mob-website-1 .vector-2ACBXK {
  background-color: transparent;
  height: 154px;
  left: -15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  transform: rotate(-90.00deg);
  width: 185px;
}

.mob-website-1 .vector-xM04UF {
  background-color: transparent;
  height: 207px;
  left: 74px;
  mix-blend-mode: normal;
  position: absolute;
  top: 22px;
  transform: rotate(-90.00deg);
  width: 176px;
}

.mob-website-1 .vector-asZb07 {
  background-color: transparent;
  height: 177px;
  left: -16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  transform: rotate(90.00deg);
  width: 208px;
}

.mob-website-1 .vector-FxqxZ7 {
  background-color: transparent;
  height: 187px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 103px;
  width: 162px;
}

.mob-website-1 .x121170480_1762245074-4YRTZZ {
  background-color: transparent;
  height: 218px;
  left: 17px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1056px;
  width: 327px;
}

.mob-website-1 .answers-hub-oDrQOx {
  background-color: transparent;
  color: var(--ema-white);
  font-family: var(--font-family-ballpill-bold);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.64px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1689px;
  width: 360px;
}

.mob-website-1 .group-6896-oDrQOx {
  background-color: transparent;
  height: 399px;
  left: 0px;
  position: absolute;
  top: 4237px;
  width: 360px;
}

.mob-website-1 .footer-dwoDMt {
  background-color: transparent;
  height: 399px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 360px;
}

.mob-website-1 .group-6838-QxjzJU {
  background-color: transparent;
  height: 625px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .rectangle-253-XhXvOP {
  background-color: var(--ema-violet);
  height: 625px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .group-6815-XhXvOP {
  background-color: transparent;
  height: 278px;
  left: 18px;
  position: absolute;
  top: 283px;
  width: 152px;
}

.mob-website-1 .text-search-field-XEWzJA {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.mob-website-1 .search-icon-T1f8Cc {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 154px;
}

.mob-website-1 .about-us-mission-vis-E24KZZ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 152px;
}

.mob-website-1 .span0-rfAgez {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-rfAgez {
  letter-spacing: 0.07px;
}

.mob-website-1 .span2-rfAgez {
  letter-spacing: 0.07px;
}

.mob-website-1 .group-6838-XhXvOP {
  background-color: transparent;
  height: 284px;
  left: 184px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.mob-website-1 .text-search-field-zx0xaP {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.mob-website-1 .search-icon-nVUWqf {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 154px;
}

.mob-website-1 .programmes-universit-F8TH7A {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 152px;
}

.mob-website-1 .group-6835-XhXvOP {
  background-color: transparent;
  height: 278px;
  left: 184px;
  position: absolute;
  top: 283px;
  width: 151px;
}

.mob-website-1 .text-search-field-ShuTIm {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 151px;
}

.mob-website-1 .search-icon-jmBVvG {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 153px;
}

.mob-website-1 .social-media-faceboo-CGxxEc {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 151px;
}

.mob-website-1 .group-6839-XhXvOP {
  background-color: transparent;
  height: 284px;
  left: 16px;
  position: absolute;
  top: 114px;
  width: 152px;
}

.mob-website-1 .group-6839-Ox5ovs {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 152px;
}

.mob-website-1 .text-search-field-oL4GlN {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 152px;
}

.mob-website-1 .search-icon-rksGhM {
  background-color: transparent;
  height: 284px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 154px;
}

.mob-website-1 .ema-326-joseph-mwilw-tN2QSx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 152px;
}

.mob-website-1 .vector-41-oL4GlN {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 94px;
  width: 126px;
}

.mob-website-1 .vector-42-oL4GlN {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 142px;
  width: 77px;
}

.mob-website-1 .group-6840-QxjzJU {
  background-color: transparent;
  height: 30px;
  left: 18px;
  position: absolute;
  top: 19px;
  width: 82px;
}

.mob-website-1 .vector-SPzrhV {
  background-color: transparent;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mob-website-1 .frame-6-QxjzJU {
  background-color: var(--ema-dark-violet);
  height: 33px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 607px;
  width: 360px;
}

.mob-website-1 .copyright-2021-energy-makers-academy-yt4Vzb {
  background-color: transparent;
  height: 33px;
  left: 17px;
  letter-spacing: 0.55px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 333px;
}

.mob-website-1 .group-6882-oDrQOx {
  background-color: transparent;
  height: 331px;
  left: 67px;
  position: absolute;
  top: 1794px;
  width: 225px;
}

.mob-website-1 .group-6858-4kFyYe {
  background-color: transparent;
  height: 276px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 225px;
}

.mob-website-1 .x131662611_3760936164-gWzWQi {
  background-color: transparent;
  height: 144px;
  left: 5px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 216px;
}

.mob-website-1 .group-6853-gWzWQi {
  background-color: transparent;
  height: 111px;
  left: 0px;
  position: absolute;
  top: 165px;
  width: 225px;
}

.mob-website-1 .group-6814-rmYMsP {
  background-color: transparent;
  height: 111px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 229px;
}

.mob-website-1 .what-is-energy-makers-academy-VsPNW7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.mob-website-1 .span0-lhfUk9 {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-lhfUk9 {
  letter-spacing: 0.07px;
}

.mob-website-1 .energy-makers-academ-VsPNW7 {
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-gellix_trial-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 5px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: justify;
  top: 0px;
  width: 216px;
}

.mob-website-1 .span0-8Tffis {
  color: var(--ema-white);
  font-style: normal;
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-8Tffis {
  color: var(--ema-dark-violet);
  font-style: normal;
  letter-spacing: 0.07px;
}

.mob-website-1 .text-search-field-4kFyYe {
  background-color: transparent;
  cursor: pointer;
  height: 47px;
  left: 13px;
  position: absolute;
  top: 284px;
  width: 201px;
}

.mob-website-1 .rectangle-65-C8FxVx {
  background-color: var(--shamrock);
  border-radius: 8px;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 201px;
}

.mob-website-1 .search-icon-C8FxVx {
  background-color: transparent;
  height: 18px;
  left: 26px;
  position: absolute;
  top: 15px;
  width: 152px;
}

.mob-website-1 .join-a-programme-zZv2oS {
  background-color: transparent;
  height: 18px;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 150px;
}

.mob-website-1 .group-6901-oDrQOx {
  background-color: transparent;
  height: 331px;
  left: 0px;
  position: absolute;
  top: 2931px;
  width: 360px;
}

.mob-website-1 .group-6887-xkw3yK {
  background-color: transparent;
  height: 331px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .group-6858-fQq6Qd {
  background-color: transparent;
  height: 276px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .x131662611_3760936164-vEvunv {
  background-color: transparent;
  height: 144px;
  left: 72px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 216px;
}

.mob-website-1 .group-6853-vEvunv {
  background-color: transparent;
  height: 111px;
  left: 0px;
  position: absolute;
  top: 165px;
  width: 360px;
}

.mob-website-1 .group-6814-7dYa4y {
  background-color: transparent;
  height: 111px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 362px;
}

.mob-website-1 .why-partner-with-us-GNGHqs {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 360px;
}

.mob-website-1 .text-search-field-fQq6Qd {
  background-color: transparent;
  height: 47px;
  left: 80px;
  position: absolute;
  top: 284px;
  width: 201px;
}

.mob-website-1 .rectangle-65-gCPsgK {
  background-color: var(--shamrock);
  border-radius: 8px;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 201px;
}

.mob-website-1 .search-icon-gCPsgK {
  background-color: transparent;
  height: 18px;
  left: 26px;
  position: absolute;
  top: 15px;
  width: 152px;
}

.mob-website-1 .partner-with-us-3FuJKQ {
  background-color: transparent;
  height: 18px;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 150px;
}

.mob-website-1 .x218432608_3479093236-xkw3yK {
  background-color: transparent;
  height: 144px;
  left: 72px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 216px;
}

.mob-website-1 .group-6853-xkw3yK {
  background-color: transparent;
  height: 111px;
  left: 72px;
  position: absolute;
  top: 165px;
  width: 216px;
}

.mob-website-1 .group-6814-NLTztf {
  background-color: transparent;
  height: 111px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 220px;
}

.mob-website-1 .text-rJbbhM {
  background-color: transparent;
  height: auto;
  left: 107px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.mob-website-1 .span0-T9qprU {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-T9qprU {
  letter-spacing: 0.07px;
}

.mob-website-1 .we-work-with-organsa-rJbbhM {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: justify;
  top: 0px;
  width: 216px;
}

.mob-website-1 .span0-0dw8vj {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-0dw8vj {
  letter-spacing: 0.07px;
}

.mob-website-1 .group-6900-oDrQOx {
  background-color: transparent;
  height: 331px;
  left: 0px;
  position: absolute;
  top: 2552px;
  width: 360px;
}

.mob-website-1 .group-6888-Qpq1RS {
  background-color: transparent;
  height: 331px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .group-6858-SNreM8 {
  background-color: transparent;
  height: 276px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .x131662611_3760936164-7T5eyx {
  background-color: transparent;
  height: 144px;
  left: 72px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 216px;
}

.mob-website-1 .group-6853-7T5eyx {
  background-color: transparent;
  height: 111px;
  left: 0px;
  position: absolute;
  top: 165px;
  width: 360px;
}

.mob-website-1 .group-6814-S8V7xB {
  background-color: transparent;
  height: 111px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 362px;
}

.mob-website-1 .what-have-previous-students-said-nVWIyA {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 360px;
}

.mob-website-1 .group-6853-nVWIyA {
  background-color: transparent;
  height: 111px;
  left: 73px;
  position: absolute;
  top: 0px;
  width: 216px;
}

.mob-website-1 .group-6814-m8SxtU {
  background-color: transparent;
  height: 111px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 220px;
}

.mob-website-1 .text-0m3ZuE {
  background-color: transparent;
  height: auto;
  left: 107px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.mob-website-1 .span0-OHwfVs {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-OHwfVs {
  letter-spacing: 0.07px;
}

.mob-website-1 .i-would-recommend-ea-0m3ZuE {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: justify;
  top: 0px;
  width: 216px;
}

.mob-website-1 .span0-eLUxc0 {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-eLUxc0 {
  letter-spacing: 0.07px;
}

.mob-website-1 .text-search-field-SNreM8 {
  background-color: transparent;
  cursor: pointer;
  height: 47px;
  left: 80px;
  position: absolute;
  top: 284px;
  width: 201px;
}

.mob-website-1 .rectangle-65-P0UvzB {
  background-color: var(--shamrock);
  border-radius: 8px;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 201px;
}

.mob-website-1 .search-icon-P0UvzB {
  background-color: transparent;
  height: 18px;
  left: 26px;
  position: absolute;
  top: 15px;
  width: 152px;
}

.mob-website-1 .join-a-programme-bSVq5Q {
  background-color: transparent;
  height: 18px;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 150px;
}

.mob-website-1 .oel_facebook-Qpq1RS {
  background-color: transparent;
  height: 144px;
  left: 72px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 216px;
}

.mob-website-1 .group-6899-oDrQOx {
  background-color: transparent;
  height: 331px;
  left: 65px;
  position: absolute;
  top: 2173px;
  width: 229px;
}

.mob-website-1 .group-6889-q2FvUe {
  background-color: transparent;
  height: 331px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 229px;
}

.mob-website-1 .group-6858-DBJAfZ {
  background-color: transparent;
  height: 276px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 229px;
}

.mob-website-1 .x131662611_3760936164-HF34tN {
  background-color: transparent;
  height: 144px;
  left: 7px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 216px;
}

.mob-website-1 .group-6853-HF34tN {
  background-color: transparent;
  height: 111px;
  left: 0px;
  position: absolute;
  top: 165px;
  width: 229px;
}

.mob-website-1 .group-6814-qeosiB {
  background-color: transparent;
  height: 111px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 233px;
}

.mob-website-1 .what-are-the-benefits-of-joining-uFJycw {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.mob-website-1 .span0-FMAzZY {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-FMAzZY {
  letter-spacing: 0.07px;
}

.mob-website-1 .through-hands-on-lea-uFJycw {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  position: absolute;
  text-align: justify;
  top: 0px;
  width: 216px;
}

.mob-website-1 .span0-ZuD4pP {
  letter-spacing: 0.07px;
}

.mob-website-1 .span1-ZuD4pP {
  letter-spacing: 0.07px;
}

.mob-website-1 .text-search-field-DBJAfZ {
  background-color: transparent;
  cursor: pointer;
  height: 47px;
  left: 15px;
  position: absolute;
  top: 284px;
  width: 201px;
}

.mob-website-1 .rectangle-65-3KBJQm {
  background-color: var(--shamrock);
  border-radius: 8px;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 201px;
}

.mob-website-1 .search-icon-3KBJQm {
  background-color: transparent;
  height: 18px;
  left: 26px;
  position: absolute;
  top: 15px;
  width: 152px;
}

.mob-website-1 .learn-more-xSVcLN {
  background-color: transparent;
  height: 18px;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 14.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 150px;
}

.mob-website-1 .x129841425_2027698981-q2FvUe {
  background-color: transparent;
  height: 144px;
  left: 7px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 216px;
}

.mob-website-1 .group-6907-oDrQOx {
  background-color: transparent;
  height: 260px;
  left: 0px;
  position: absolute;
  top: 3341px;
  width: 360px;
}

.mob-website-1 .group-6906-BvjLvV {
  background-color: transparent;
  height: 260px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .vector-38-jtGrEN {
  background-color: transparent;
  height: 65px;
  left: -1px;
  position: absolute;
  top: -0px;
  width: 2px;
}

.mob-website-1 .group-6905-jtGrEN {
  background-color: transparent;
  height: 260px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .group-6898-D16p4B {
  background-color: transparent;
  height: 260px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 370px;
}

.mob-website-1 .rectangle-257-alSGQx {
  background-color: #ff7ec8;
  height: 260px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .ema-facebook-alSGQx {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 76px;
  width: 65px;
}

.mob-website-1 .ema-you-tube-alSGQx {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 205px;
  width: 65px;
}

.mob-website-1 .ema-twitter-alSGQx {
  background-color: transparent;
  height: auto;
  left: 149px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 77px;
  width: 65px;
}

.mob-website-1 .ema-instagram-alSGQx {
  background-color: transparent;
  height: auto;
  left: 149px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 205px;
  width: 65px;
}

.mob-website-1 .ema-linked-in-alSGQx {
  background-color: transparent;
  height: auto;
  left: 269px;
  letter-spacing: 0.60px;
  line-height: 15.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 76px;
  width: 66px;
}

.mob-website-1 .group-6903-D16p4B {
  background-color: transparent;
  height: 130px;
  left: 120px;
  position: absolute;
  top: 0px;
  width: 120px;
}

.mob-website-1 .vector-35-aTZHM3 {
  background-color: transparent;
  height: 130px;
  left: 119px;
  position: absolute;
  top: 0px;
  width: 2px;
}

.mob-website-1 .vector-39-aTZHM3 {
  background-color: transparent;
  height: 130px;
  left: -1px;
  position: absolute;
  top: 0px;
  width: 2px;
}

.mob-website-1 .vector-35-D16p4B {
  background-color: transparent;
  height: 130px;
  left: 239px;
  position: absolute;
  top: 130px;
  width: 2px;
}

.mob-website-1 .vector-39-D16p4B {
  background-color: transparent;
  height: 130px;
  left: 119px;
  position: absolute;
  top: 130px;
  width: 2px;
}

.mob-website-1 .vector-37-D16p4B {
  background-color: transparent;
  height: 65px;
  left: 359px;
  position: absolute;
  top: -0px;
  width: 2px;
}

.mob-website-1 .vector-36-D16p4B {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 360px;
}

.mob-website-1 .vector-35-jtGrEN {
  background-color: transparent;
  height: 132px;
  left: 239px;
  position: absolute;
  top: 129px;
  width: 122px;
}

.mob-website-1 .vector-BvjLvV {
  background-color: transparent;
  height: 34px;
  left: 45px;
  mix-blend-mode: normal;
  position: absolute;
  top: 159px;
  width: 33px;
}

.mob-website-1 .vector-UXXMIK {
  background-color: transparent;
  height: 34px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 33px;
}

.mob-website-1 .vector-JuUylF {
  background-color: transparent;
  height: 37px;
  left: 161px;
  mix-blend-mode: normal;
  position: absolute;
  top: 159px;
  width: 41px;
}

.mob-website-1 .vector-HZ4RXA {
  background-color: transparent;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 41px;
}

.mob-website-1 .vector-KQVN5V {
  background-color: transparent;
  height: 22px;
  left: 274px;
  mix-blend-mode: normal;
  position: absolute;
  top: 39px;
  width: 57px;
}

.mob-website-1 .vector-YhQ7a1 {
  background-color: transparent;
  height: 23px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 57px;
}

.mob-website-1 .vector-dVvAld {
  background-color: transparent;
  height: 46px;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 24px;
  transform: rotate(90.00deg);
  width: 31px;
}

.mob-website-1 .vector-kAqHts {
  background-color: transparent;
  height: 32px;
  left: -7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  transform: rotate(-90.00deg);
  width: 46px;
}

.mob-website-1 .vector-WM9JLi {
  background-color: transparent;
  height: 48px;
  left: 167px;
  mix-blend-mode: normal;
  position: absolute;
  top: 23px;
  transform: rotate(-90.00deg);
  width: 26px;
}

.mob-website-1 .vector-OPqNgN {
  background-color: transparent;
  height: 27px;
  left: -11px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  transform: rotate(90.00deg);
  width: 48px;
}

.mob-website-1 .group-6830-oDrQOx {
  background-color: transparent;
  height: 16px;
  left: -251px;
  position: absolute;
  top: 24px;
  width: 35px;
}

.mob-website-1 .vector-37-gJ7bGm {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 7px;
  width: 37px;
}

.mob-website-1 .vector-38-gJ7bGm {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 37px;
}

.mob-website-1 .vector-39-gJ7bGm {
  background-color: transparent;
  height: 2px;
  left: -1px;
  position: absolute;
  top: 15px;
  width: 37px;
}

.mob-website-1 .group-6908-oDrQOx {
  background-color: transparent;
  height: 4614px;
  left: 0px;
  position: absolute;
  top: 3601px;
  width: 9748px;
}

.mob-website-1 .rectangle-256-fhsEyf {
  background-color: var(--burnt-orange);
  height: 640px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.mob-website-1 .group-6890-fhsEyf {
  background-color: transparent;
  height: 4396px;
  left: 14px;
  position: absolute;
  top: 218px;
  width: 9744px;
}

.mob-website-1 .rectangle-257-sTH4ms {
  background-color: var(--burnt-orange);
  height: 54px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 274px;
}

.mob-website-1 .your-email-address-sTH4ms {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.36px;
  line-height: 21.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
  width: 334px;
}

.mob-website-1 .rectangle-257-c1mEdz {
  background-color: var(--burnt-orange);
  height: 54px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 60px;
  width: 274px;
}

.mob-website-1 .first-name-sTH4ms {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.36px;
  line-height: 21.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 75px;
  white-space: nowrap;
  width: 334px;
}

.mob-website-1 .first-name-c1mEdz {
  background-color: transparent;
  height: auto;
  left: 9398px;
  letter-spacing: 0.36px;
  line-height: 21.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4372px;
  white-space: nowrap;
  width: 334px;
}

.mob-website-1 .rectangle-257-K02E0v {
  background-color: var(--burnt-orange);
  height: 54px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 120px;
  width: 274px;
}

.mob-website-1 .last-name-sTH4ms {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.36px;
  line-height: 21.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 135px;
  white-space: nowrap;
  width: 334px;
}

.mob-website-1 .rectangle-257-DkiUVb {
  background-color: var(--burnt-orange);
  height: 54px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 180px;
  width: 274px;
}

.mob-website-1 .phone-number-sTH4ms {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.36px;
  line-height: 21.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 195px;
  white-space: nowrap;
  width: 333px;
}

.mob-website-1 .rectangle-257-eWH7sR {
  background-color: var(--hit-pink);
  border-radius: 8px;
  height: 47px;
  left: 66px;
  mix-blend-mode: normal;
  position: absolute;
  top: 265px;
  width: 198px;
}

.mob-website-1 .submit-sTH4ms {
  background-color: transparent;
  height: auto;
  left: 95px;
  letter-spacing: 0.60px;
  line-height: 21.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 277px;
  white-space: nowrap;
  width: 141px;
}

.mob-website-1 .updates-news-fhsEyf {
  background-color: transparent;
  color: var(--ema-white);
  font-family: var(--font-family-ballpill-bold);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 45px;
  letter-spacing: 0.64px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 81px;
  width: 273px;
}

.mob-website-1 .nav-oDrQOx {
  background-color: transparent;
  height: 65px;
  left: 0px;
  position: fixed;
  top: -0px;
  width: 360px;
}

.mob-website-1 .group-6825-oDrQOx {
  background-color: transparent;
  cursor: pointer;
  height: 18px;
  left: 310px;
  position: fixed;
  top: 23px;
  width: 37px;
}
