@font-face {
    font-family: gellix;
    src:url("/fonts/Gellix-Regular.otf");
  }

* {
	box-sizing: border-box;
  }

  /* Containers */

.container-fluid{
    padding: 5% 5%;
}
/*Main Elements*/

body {
    font-family: "gellix", sans-serif;
    text-align: center;
}

  h1, h2, h3, h4, h5, h6 {
    font-family: "gellix", sans-serif;
  }

  p {
    color: #8f8f8f;
  }

  hr {
    border-style:solid;
    border-color: grey;
    width:80%;
   }


  /* Navigation Bar */

  .navbar {
    padding: 0 0 3rem;
  }

  .navbar-brand {
    font-family:"gellix", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
  }

  .nav-item {
    padding: 0 18px;
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 1.2rem;
    font-family: "gellix", sans-serif;
  }


  /* Sections */

  .colored-section {
    background-color: var(--ema-violet);
    color: #fff;
  }


  /* Buttons */

  .download-button {
    margin: 5% 3% 5% 0;
    background-color: #39E681;
    color: #5d4dc4;
    font-size: 1rem;
  }

  /* Title Section */

  .title-image {
    width: 100%;
    position: relative;
    padding: 5% 3% 5% 15%;
  }

.title-text {
    font-family: "gellix", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align:left;
  }

  #title-header{
    padding: 2% 5% 5% ;
  }

  /* She-Can-Image */

  #she-carousel{
    text-align: center;
    width: 100%;
    padding: 10%;
  }

  .she-image {
    width: 100%;
    padding: 15%;
    padding-top: 10%;
    padding-bottom: 0;
  }

  /* Answer Section */

  .answer-section {
    background-color: #A5A1D5;
  }
  #answer {
    padding: 100px;
    /* background-color: #A5A1D5; */
  }
  .answer-text {
    font-size: 2rem;
    line-height: 1.5;
  }
  .answer-column {
    padding: 3% 2%;
  }
  .answer-images{
    position: absolute;
    width: 439px;
    height: 293px
  }
  .card{
    background-color: transparent;
    border: transparent;
  }
  /*Social Section*/

.social-media{
  display: flex;
  background-color: #FF7FC9;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: auto;
  padding: 10%;
}

.social-media > .social-icon {
  margin: auto;
  color: #F62187;
}
.social-icon > img{
  width: 50%;
}


/* Submission Form */
#news-header{
font-family: BallPill;
font-style: normal;
font-weight: bold;
font-size: 1.5rem;
line-height: 58px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
  .submit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 1.5rem;
    background-color: #FF7F48;

  }
  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
  }

  .form-row > input {
    flex: 2;
    text-align: center;
  }

  .form-row > button {
    padding: .5rem;
  }
  .form-row > button {
   background: gray;
   color: white;
   border: 0;
  }

  /* Footer Section */



/* Screen Responsiveness */

  @media screen and (min-width: 768px) {
     	.form-row > input {
      	flex: 3;
     }
    }
   @media screen and (min-width: 992px) {
     	.form-row > input {
      	flex: 4;
     }
    }
   @media screen and (min-width: 1200px) {
     	.form-row > input {
      	flex: 5;
     }

     #title {
       text-align: center;
     }

     .title-image {
       position: static;
     }
    }



    /* Footer main */
    .logo-footer{

    }
    .ft-main {
      padding: 1.25rem 1.875rem;
      display: flex;
      flex-wrap: wrap;
      justify-content:space-between;
      align-items: flex-start;
      align-content: flex-start;
      color: white;

    }
    .ft-main-item {
      padding: 1.25rem;
      min-width: 12.5rem;
    }

    #Copyright{
      background-color: #463C73;
      padding: 1.0rem;
    }
